{% extends "layout.html" %}

{% block content %}

<div class="uk-card uk-card-default uk-width-2-3@m uk-card-hover uk-align-center">

  <h1 class="uk-heading-small uk-text-center">Tools to deep dive into the internet</h1>

  <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
        <a href="/summarize-url">
          <div class="uk-card uk-card-hover uk-card-body">
              <h3 class="uk-card-title">Summarize URL</h3>
              <p>Get a summarry of content from any URL</p>
          </div>
        </a>
    </div> 
    <div>
        <a href="https://twitter.com/askgreffy">
          <div class="uk-card uk-card-hover uk-card-body">
              <h3 class="uk-card-title">Twitter Summary Bot</h3>
              <p>Twitter bot to summarize content from any URL</p>
          </div>
        </a>
    </div>
    <div>
        <a href="/twitter">
          <div class="uk-card uk-card-hover uk-card-body">
              <h3 class="uk-card-title">Search Twitter</h3>
              <p>Search Twitter for topics and get a list of tweets</p>
          </div>
        </a>
    </div>
  </div>
</div>
{% endblock %}

</body>
</html>
