<!doctype html>

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
      <title>Greffy</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="static/css/uikit.min.css" />
      <script src="static/js/uikit.min.js"></script>
      <script src="static/js/uikit-icons.min.js"></script>
</head>
<body>
<div class="uk-container uk-container-expand">

<form method="POST">
    <div class="uk-margin" >
        <input id ="textbox" name="text" class="uk-textarea" rows="3" placeholder="What's on your mind?">
        <input type="submit">
    </div>
</form>

<h2>Trending Posts</h2>

{% block content %}
    <p>
      <table class="pure-table pure-table-horizontal">
      <thead>
      <tr>
      <th>Content</th>
      <th>Shared</th>
      <th>View</th>
      </tr>
      </thead>
      <tbody>
    {% for row in result %}
      <tr>
          <td>{{ row[1]}}</td>
          <td><a href="" uk-icon="social">  {{ row[2] }}  </a></td>
          <td><a href="/post/{{ row[0] }}" uk-icon="comments">  {{ row[3] }}  </a></td>
      </tr>
    {% endfor %}
      </tbody>
      </table>
    </p>
{% endblock %}
</div>
</body>
</html>
