<!doctype html>

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<a href="/">Home</a>
<a href="/new">New Post</a>


{% block content %}
    <h3>Post Summary</h3>
    <p>{{ summary }}</p>

    <h3>Join the Discussion</h3>
    <form method="POST">
        <input id ="textbox" name="text" placeholder="Comment..">
        <input type="submit">
    </form>

    <p>
      <table>
      <thead>
      <tr>
      <th>Comment</th>
      <th>Crreated</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      </tr>
      </thead>
      <tbody>
    {% for row in result %}
      <tr>
          <td>{{ row[2] }}</td>
          <td> {{ row[3] }}</td>
          <td> {{ row[4] }}</td>
          <td> {{ row[5] }}</td>
      </tr>
    {% endfor %}
      </tbody>
      </table>
    </p>
{% endblock %}

</body>
</html>
