{% extends "layout.html" %}

{% block content %}

<div class="uk-container uk-container-small uk-position-relative">

  <h2 class="uk-text-lead uk-text-left">Discuss stories without login </h2>

  <form method="POST" enctype=multipart/form-data>
    <div>
        <textarea id ="textbox" name="text" class="uk-textarea" rows="3" placeholder="Enter what to discuss eg. a Whatsapp forward, a URL or an image."></textarea>
        <div class="js-upload" uk-form-custom>
            <input type="file" name=file>
            <button class="uk-button uk-button-secondary uk-button-small" type="button" uk-icon="cloud-upload">Image  </button>
        </div>
        <button type="submit" class="uk-button uk-button-primary uk-align-right uk-button-small">Go</button>
    </div>
  </form>

<hr class="uk-divider-small">

  <h3 class="uk-text-lead uk-text-left">Trending Stories</h3>
  <div class="uk-section uk-section-default">
    {% for row in result %}
            <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container uk-width-1-3@m">
                    <img src="{{ row[6] }}" alt="" uk-cover>
                    <canvas height="100"></canvas>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-card-body">
                        <p class="uk-card-title"><a class="uk-link-reset" href="/post/{{ row[0] }}">{{ row[4] }}</a></p>
                        <ul class="uk-comment-meta uk-subnav">
                            <li><a href="/post/{{ row[0] }}" uk-icon="comment">{{ row[3] }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

</body>
</html>
