{% extends "layout.html" %}
{% block content %}
<div class="uk-container uk-container-small uk-position-relative">

    <h2 class="uk-text-lead uk-text-center">Analyze twitter user</h2>
    <div>
        <form method="POST">
          <input id ="textbox" name="text" class="uk-textarea" placeholder="Enter a twitter Username to search"></input>
          <button type="submit" class="uk-button uk-button-primary uk-align-right">Get Tweets</button>
       </form>

    </div>
</div>

<hr class="uk-divider-small">
<div>
  <div>
    {% for row in res %}
          <div>
            <div class="uk-card uk-card-hover uk-card-small uk-card-body uk-align-center">
                <div class="uk-comment-meta">
                    <p> {{ row[0] }}</p>
                </div>
                <ul class="uk-comment-meta uk-subnav">
                    <li><p class="uk-text-bold" uk-icon="bolt">{{ row[1] }}</p></li>
                    <li><p class="uk-text-bold"  uk-icon="warning">{{ row[2] }}</p></li>
                </ul>
            </div>
          </div>
    {% endfor %}
</div>
</div>

{% endblock %}
